* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 600px;
}

.section {
  background-color: #3b8c9c;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 600px;
}

h1 {
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.schedule-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.content {
  text-align: center;
  max-height: 1200px;
  max-width: 600px;
  height: 100%;
  width: 100%;
}
.content p {
  margin: 10px 0;
    font-size: 25px;    
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

.nombre
{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
  .section {
    padding: 15px;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
  }

  .schedule-image {
    max-width: 100%;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }
}
